.page {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  padding: 80px;
  flex-direction: column;
}

.content {
  padding: 8px 16px;
}

.link {
  width: min-content;
  text-wrap: nowrap;
  cursor: pointer;

  &:hover {
    text-decoration: underline
  }
}
