.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.form label {
  padding-top: 20px;
}

.submitButton {
  width: 100px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  border-radius: 5px;
  align-self: center;
}

.submitButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
