.menuWrapper {
  width: 100%;
  background: #101010;
  display:flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.menuContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #1c1c1c;
}

.menuContainer a {
  padding: 20px;
  cursor: pointer;
}
